<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is Services page</h1>
<hr/>
<!--using fragment-->
<div class="host-tag" th:replace="~{base :: parent(~{::section})}">
    <section id ="main_content">
        <h1>User is Login</h1>
        <h2>This is dynamic main content</h2>
    </section>
    <section id ="second_content">
        <h2>This is dynamic second content</h2>
    </section>
    <section class ="third_content">
        <h2>This is dynamic third content</h2>
    </section>
</div>
</body>
</html>